# ---------------------
# Frontend
# ---------------------
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
package-lock.json

# ---------------------
# Backend
# ---------------------
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# ---------------------
# Sistema
# ---------------------
.DS_Store

# Exemplo para Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Exemplo para React / Node
.env.local
.env.development.local
.env.test.local
.env.production.local
